.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  background-color: #1982c4;
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: #1982c4;
}
.btn:focus {
  outline: none;
}
.container {
  border: 1px solid #000;
  border-radius: 1rem;
  max-width: 400px;
  margin: auto;
  margin-top: 1rem;
}
/* footer */

.footer {
  text-align: center;
  padding-top: 4rem;
  padding-left: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 0;
  }
}
